@model IEnumerable<PizzaPlanet.DBData.Store>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dough)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sauce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cheese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pepperoni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sausage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bacon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Onion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GreenPepper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mushroom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackOlive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dough)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sauce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cheese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pepperoni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sausage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bacon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Onion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GreenPepper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mushroom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackOlive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
