@model PizzaPlanet.DBData.PizzaOrder

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PizzaOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsernameNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsernameNavigation.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
