@model PizzaPlanet.Library.Order

@{
    ViewData["Title"] = "Order Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Order @Model.IdFull()</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Order Time
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt>
            Total
        </dt>
        <dd>
            $@Model.Price()
        </dd>
        <dt>
            Store
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store.Id)
        </dd>
        <dt>
            Customer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
    </dl>
</div>
<h3>Pizzas</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Size
            </th>
            <th>
                Crust
            </th>
            <th>
                Sauce
            </th>
            <th>
                Cheese
            </th>
            <th>Toppings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pizzas)
        {
            @if (item == null) { continue; }
            <tr>
                <td>
                    @item.Size.ToString()
                </td>
                <td>
                    @item.Crust.ToString()
                </td>
                <td>
                    @item.Toppings[0].ToString()
                </td>
                <td>
                    @item.Toppings[1].ToString()
                </td>
                <td>
                    @{var tops = item.ToppingsString();}
                    @if (tops != "")
                    {
                        @tops
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    @if ((bool)ViewData["Previous"])
    {
        <a asp-controller="User" asp-action="History">Back to List</a>
    }
    else
    {
        <a asp-controller="Store" asp-action="History" asp-route-id ="@Model.Store.Id">Back to List</a>
    }
</div>
