@model PizzaPlanet.Library.Order
@{List<int> stores = (List<int>)ViewData["StoreIds"];}

@{
    ViewData["Title"] = "Order Details";
}

<h2>@ViewData["Title"]</h2>

<h4>@Model.Customer.Name's Next Order</h4>

<dl class="dl-horizontal">
    <dt>
        Store:
    </dt>
    <dd>
        @Model.Store.Id
    </dd>
    <dt>
        Current Total
    </dt>
    <dd>
        $@Model.Price()
    </dd>
</dl>

    <select name="id" form="store">
        <option value="@Model.Store.Id"></option>
        @foreach (int s in stores)
    {
        @if (s == Model.Store.Id) { continue; }
        <option value="@s">@s</option>
    }
    </select>
    <form id="store" asp-action="Edit">
        <button type="submit" value="Change Store" class="btn btn-default">Change Store</button>
    </form>
<h3>Pizzas</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Size
            </th>
            <th>
                Crust
            </th>
            <th>
                Sauce
            </th>
            <th>
                Cheese
            </th>
            <th>Toppings</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(var i=0;i<Model.NumPizza;i++)
                {
        <tr>
            <td>
                @Model.Pizzas[i].Size.ToString()
            </td>
            <td>
                @Model.Pizzas[i].Crust.ToString()
            </td>
            <td>
                @Model.Pizzas[i].Toppings[0].ToString()
            </td>
            <td>
                @Model.Pizzas[i].Toppings[1].ToString()
            </td>
            <td>
                @{var tops = Model.Pizzas[i].ToppingsString();}
                @if (tops != "")
                    {
                @tops
                    }
            </td>
            <td>
                <a asp-action="DeletePizza" asp-route-i="@i">Remove Pizza</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<div>
    @if(Model.NumPizza>0){<a asp-controller="Order" asp-action="Submit">Submit Order | </a>}
    @if(Model.NumPizza<12){<a asp-controller="Order" asp-action="EditPizza">Add Pizza | </a> }
    @if(Model.NumPizza>0){<a asp-controller="Order" asp-action="Delete">Cancel Order</a>}
</div>
